#onee{
    background-color: rgb(107, 106, 106);
    color: white;
}
#twoo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: 400;
}
#three{
    color: white;
}